<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" *ngIf="matches">
                <h3>Final</h3>
                <table style="margin-top: 15px;min-width:16.6%;min-height:14.65%;border-radius: 10%;background-color: #ccc5b9;" class="table table-hover">
                        <tbody>
                            <tr>
                                <td style="border-right: 1px solid #000;">{{getTeamById(matches[0].local).name}}</td>
                                <td *ngIf="matches[0].localGoals != -1">{{matches[0].localGoals}}</td>
                            </tr>
                            <tr>
                                <td style="border-right: 1px solid #000;">{{getTeamById(matches[0].away).name}}</td>
                                <td *ngIf="matches[0].awayGoals != -1">{{matches[0].awayGoals}}</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            <div *ngIf="!matches" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                Partidos no disponibles
            </div>
        </div>
    </div>
</div>