<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12" *ngIf="uclMatches">
                <section class="col-md-4 col-sm-12" *ngFor="let round of uclMatches">
                    <roundkeys [roundConfig]="round"></roundkeys>
                </section>
                <div style="text-align: center;" *ngIf="champion">
                    <h2>CAMPEÓN</h2>
                    <img style="width:20%;" src="{{appService.getTeamById(champion).teamImage}}"/>
                    <h3>{{appService.getTeamById(champion).name}}</h3>
                </div>
            </div>
            <div *ngIf="!uclMatches" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                Partidos no disponibles
            </div>
        </div>
    </div>
</div>