<div class="container-fluid">
        <div class="row">
                <div class="col-md-4" *ngIf="KOMatches && KOMatches.length > 48">
                    <h3>Cuartos de final</h3>
                    <table style="margin-top: 30px;min-width:16.6%;min-height:14.65%;border-radius: 10%;background-color: #ccc5b9;" class="table table-hover">
                            <tbody>
                                <tr>
                                    <td style="border-right: 1px solid #000;">{{getTeamById(KOMatches[48].local).name}}</td>
                                    <td style="border-right: 1px solid #000;" *ngIf="KOMatches[48].localGoals != -1">{{KOMatches[48].localGoals}}</td>
                                    <td *ngIf="KOMatches[52].awayGoals != -1">{{KOMatches[52].awayGoals}}</td>
                                </tr>
                                <tr>
                                    <td style="border-right: 1px solid #000;">{{getTeamById(KOMatches[48].away).name}}</td>
                                    <td style="border-right: 1px solid #000;" *ngIf="KOMatches[48].awayGoals != -1">{{KOMatches[48].awayGoals}}</td>
                                    <td *ngIf="KOMatches[52].localGoals != -1">{{KOMatches[52].localGoals}}</td>
                                </tr>
                            </tbody>
                        </table><table style="margin-top: 30px;min-width:16.6%;min-height:14.65%;border-radius: 10%;background-color: #ccc5b9;" class="table table-hover">
                                <tbody>
                                    <tr>
                                        <td style="border-right: 1px solid #000;">{{getTeamById(KOMatches[49].local).name}}</td>
                                        <td style="border-right: 1px solid #000;" *ngIf="KOMatches[49].localGoals != -1">{{KOMatches[49].localGoals}}</td>
                                        <td *ngIf="KOMatches[53].awayGoals != -1">{{KOMatches[53].awayGoals}}</td>
                                    </tr>
                                    <tr>
                                        <td style="border-right: 1px solid #000;">{{getTeamById(KOMatches[49].away).name}}</td>
                                        <td style="border-right: 1px solid #000;" *ngIf="KOMatches[49].awayGoals != -1">{{KOMatches[49].awayGoals}}</td>
                                        <td *ngIf="KOMatches[53].localGoals != -1">{{KOMatches[53].localGoals}}</td>
                                    </tr>
                                </tbody>
                            </table><table style="margin-top: 30px;min-width:16.6%;min-height:14.65%;border-radius: 10%;background-color: #ccc5b9;" class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <td style="border-right: 1px solid #000;">{{getTeamById(KOMatches[50].local).name}}</td>
                                            <td style="border-right: 1px solid #000;" *ngIf="KOMatches[50].localGoals != -1">{{KOMatches[50].localGoals}}</td>
                                            <td *ngIf="KOMatches[54].awayGoals != -1">{{KOMatches[54].awayGoals}}</td>
                                        </tr>
                                        <tr>
                                            <td style="border-right: 1px solid #000;">{{getTeamById(KOMatches[50].away).name}}</td>
                                            <td style="border-right: 1px solid #000;" *ngIf="KOMatches[50].awayGoals != -1">{{KOMatches[50].awayGoals}}</td>
                                            <td *ngIf="KOMatches[54].localGoals != -1">{{KOMatches[54].localGoals}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table style="margin-top: 30px;min-width:16.6%;min-height:14.65%;border-radius: 10%;background-color: #ccc5b9;" class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <td style="border-right: 1px solid #000;">{{getTeamById(KOMatches[51].local).name}}</td>
                                                <td style="border-right: 1px solid #000;" *ngIf="KOMatches[51].localGoals != -1">{{KOMatches[51].localGoals}}</td>
                                                <td *ngIf="KOMatches[55].awayGoals != -1">{{KOMatches[55].awayGoals}}</td>
                                            </tr>
                                            <tr>
                                                <td style="border-right: 1px solid #000;">{{getTeamById(KOMatches[51].away).name}}</td>
                                                <td style="border-right: 1px solid #000;" *ngIf="KOMatches[51].awayGoals != -1">{{KOMatches[51].awayGoals}}</td>
                                                <td *ngIf="KOMatches[55].localGoals != -1">{{KOMatches[55].localGoals}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                </div>
                <div class="col-md-4" *ngIf="KOMatches && KOMatches.length > 56">
                    <h3>Semifinales</h3>
                    <table style="margin-top: 60px;min-width:16.6%;min-height:14.65%;border-radius: 10%;background-color: #ccc5b9;" class="table table-hover">
                            <tbody>
                                <tr>
                                    <td style="border-right: 1px solid #000;">{{getTeamById(KOMatches[56].local).name}}</td>
                                    <td style="border-right: 1px solid #000;" *ngIf="KOMatches[56].localGoals != -1">{{KOMatches[56].localGoals}}</td>
                                    <td *ngIf="KOMatches[58].awayGoals != -1">{{KOMatches[58].awayGoals}}</td>
                                </tr>
                                <tr>
                                    <td style="border-right: 1px solid #000;">{{getTeamById(KOMatches[56].away).name}}</td>
                                    <td style="border-right: 1px solid #000;" *ngIf="KOMatches[56].awayGoals != -1">{{KOMatches[56].awayGoals}}</td>
                                    <td *ngIf="KOMatches[58].localGoals != -1">{{KOMatches[58].localGoals}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table style="margin-top: 60px;min-width:16.6%;min-height:14.65%;border-radius: 10%;background-color: #ccc5b9;" class="table table-hover">
                                <tbody>
                                    <tr>
                                        <td style="border-right: 1px solid #000;">{{getTeamById(KOMatches[57].local).name}}</td>
                                        <td style="border-right: 1px solid #000;" *ngIf="KOMatches[57].localGoals != -1">{{KOMatches[57].localGoals}}</td>
                                        <td *ngIf="KOMatches[59].awayGoals != -1">{{KOMatches[59].awayGoals}}</td>
                                    </tr>
                                    <tr>
                                        <td style="border-right: 1px solid #000;">{{getTeamById(KOMatches[57].away).name}}</td>
                                        <td style="border-right: 1px solid #000;" *ngIf="KOMatches[57].awayGoals != -1">{{KOMatches[57].awayGoals}}</td>
                                        <td *ngIf="KOMatches[59].localGoals != -1">{{KOMatches[59].localGoals}}</td>
                                    </tr>
                                </tbody>
                            </table>
                </div>
                <div class="col-md-4" *ngIf="KOMatches && KOMatches.length > 60">
                    <h3>Final</h3>
                    <table style="margin-top: 15px;min-width:16.6%;min-height:14.65%;border-radius: 10%;background-color: #ccc5b9;" class="table table-hover">
                            <tbody>
                                <tr>
                                    <td style="border-right: 1px solid #000;">{{getTeamById(KOMatches[60].local).name}}</td>
                                    <td style="border-right: 1px solid #000;" *ngIf="KOMatches[60].localGoals != -1">{{KOMatches[60].localGoals}}</td>
                                </tr>
                                <tr>
                                    <td style="border-right: 1px solid #000;">{{getTeamById(KOMatches[60].away).name}}</td>
                                    <td style="border-right: 1px solid #000;" *ngIf="KOMatches[60].awayGoals != -1">{{KOMatches[60].awayGoals}}</td>
                                </tr>
                            </tbody>
                        </table>
                    <h3>Tercer y Cuarto Puesto</h3>
                    <table style="margin-top: 15px;min-width:16.6%;min-height:14.65%;border-radius: 10%;background-color: #ccc5b9;" class="table table-hover">
                            <tbody>
                                <tr>
                                    <td style="border-right: 1px solid #000;">{{getTeamById(KOMatches[61].local).name}}</td>
                                    <td style="border-right: 1px solid #000;" *ngIf="KOMatches[61].localGoals != -1">{{KOMatches[61].localGoals}}</td>
                                </tr>
                                <tr>
                                    <td style="border-right: 1px solid #000;">{{getTeamById(KOMatches[61].away).name}}</td>
                                    <td style="border-right: 1px solid #000;" *ngIf="KOMatches[61].awayGoals != -1">{{KOMatches[61].awayGoals}}</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
                <div *ngIf="!KOMatches" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                    Partidos no disponibles
                </div>
            </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Champions League Grupo A</h4>
                    <p class="category">Temporada {{season}}</p>
                </div>
                <div *ngIf="groupA.dataRows.length !=0" class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>POS</th>
                                <th>Nombre</th>
                                <th>PJ</th>
                                <th>G</th>
                                <th>E</th>
                                <th>P</th>
                                <th>GF</th>
                                <th>GC</th>
                                <th>DG</th>
                                <th>PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of groupA.dataRows">
                                <td *ngFor="let cell of row">{{cell}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div *ngIf="groupA.dataRows.length == 0" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                    Clasificación no disponible
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Champions League Grupo B</h4>
                    <p class="category">Temporada {{season}}</p>
                </div>
                <div *ngIf="groupB.dataRows.length != 0" class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>POS</th>
                                <th>Nombre</th>
                                <th>PJ</th>
                                <th>G</th>
                                <th>E</th>
                                <th>P</th>
                                <th>GF</th>
                                <th>GC</th>
                                <th>DG</th>
                                <th>PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of groupB.dataRows">
                                <td *ngFor="let cell of row">{{cell}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="groupB.dataRows.length == 0" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                    Clasificación no disponible
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Champions League Grupo C</h4>
                    <p class="category">Temporada {{season}}</p>
                </div>
                <div *ngIf="groupC.dataRows.length !=0" class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>POS</th>
                                <th>Nombre</th>
                                <th>PJ</th>
                                <th>G</th>
                                <th>E</th>
                                <th>P</th>
                                <th>GF</th>
                                <th>GC</th>
                                <th>DG</th>
                                <th>PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of groupC.dataRows">
                                <td *ngFor="let cell of row">{{cell}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div *ngIf="groupC.dataRows.length == 0" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                    Clasificación no disponible
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Champions League Grupo D</h4>
                    <p class="category">Temporada {{season}}</p>
                </div>
                <div *ngIf="groupD.dataRows.length !=0" class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>POS</th>
                                <th>Nombre</th>
                                <th>PJ</th>
                                <th>G</th>
                                <th>E</th>
                                <th>P</th>
                                <th>GF</th>
                                <th>GC</th>
                                <th>DG</th>
                                <th>PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of groupD.dataRows">
                                <td *ngFor="let cell of row">{{cell}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div *ngIf="groupD.dataRows.length == 0" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                    Clasificación no disponible
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Partidos</h4>
                    <p class="category">Champions League - Temporada {{season}}</p>
                </div>
                <div *ngIf="uclMatches.dataRows.length != 0" class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Jornada</th>
                                <th>Local</th>
                                <th>Resultado</th>
                                <th>Visitante</th>
                                <th>Resumen</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of uclMatches.dataRows">
                                <td style="text-align: center;">{{row.round}}</td>
                                <td style="text-align: center;">{{getTeamById(row.local).name}}</td>
                                <td style="text-align: center;"><span *ngIf="row.localGoals != -1">{{row.localGoals}} - {{row.awayGoals}}</span><span *ngIf="row.localGoals == -1">-</span></td>
                                <td style="text-align: center;">{{getTeamById(row.away).name}}</td>
                                <td style="text-align: center;"><a *ngIf="row.localGoals != -1" style="cursor:pointer;" (click)="showSummary(row.id)">Resumen</a><span *ngIf="row.localGoals == -1">Por jugar</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="uclMatches.dataRows.length == 0" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                    Partidos no disponibles
                </div>
            </div>
        </div>

    </div>
</div>
