<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="card">
                    <div class="header text-center">
                        <h3 class="title">Normas de Partidos</h3>
                        <p class="category" style="text-align: left">
                                <br/><br/> <span>Partidos a 6 minutos cada parte, con velocidad normal</span>
                                <br/><br/> <span>No está permitido hacer pausas con intención de desestabilizar psicológicamente al rival</span>
                                <br/><br/> <span>No está permitido perder tiempo de manera deliberada</span>
                                <br/><br/> <span>No está permitido obstruir tiros de falta poniendo un jugador bajo el larguero o cerca de él</span>
                                <br/><br/> <span>No está permitido faltar al respeto al rival antes, durante o después del partido</span>
                                <br/><br/> <span>En caso de darse estos supuestos, el jugador puede denunciar ante la administración alguna de éstas prácticas, incluyendo prueba visual. En caso de juzgarse cierto, a criterio siempre del administrador, se podrá sancionar al equipo infractor con uno o varios partidos de sanción, incluso con la expulsión de la liga si el jugador es reincidente.</span>
                        </p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="card">
                        <div class="header text-center">
                            <h3 class="title">Normas de Mercado</h3>
                            <p class="category" style="text-align: left">
                                    <br/><br/> <span>Partidos a 6 minutos cada parte, con velocidad normal</span>
                                    <br/><br/> <span>No está permitido hacer pausas con intención de desestabilizar psicológicamente al rival</span>
                                    <br/><br/> <span>No está permitido perder tiempo de manera deliberada</span>
                                    <br/><br/> <span>No está permitido obstruir tiros de falta poniendo un jugador bajo el larguero o cerca de él</span>
                                    <br/><br/> <span>No está permitido faltar al respeto al rival antes, durante o después del partido</span>
                                    <br/><br/> <span>En caso de darse estos supuestos, el jugador puede denunciar ante la administración alguna de éstas prácticas, incluyendo prueba visual. En caso de juzgarse cierto, a criterio siempre del administrador, se podrá sancionar al equipo infractor con uno o varios partidos de sanción, incluso con la expulsión de la liga si el jugador es reincidente.</span>
                            </p>
                            <br>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>