<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Primera División</h4>
                    <p class="category">Temporada {{season}}</p>
                </div>
                <div *ngIf="tableData1.dataRows.length !=0" class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>POS</th>
                                <th>Nombre</th>
                                <th>PJ</th>
                                <th>G</th>
                                <th>E</th>
                                <th>P</th>
                                <th>GF</th>
                                <th>GC</th>
                                <th>DG</th>
                                <th>PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData1.dataRows">
                                <td *ngFor="let cell of row">{{cell}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div *ngIf="tableData1.dataRows.length == 0" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                    Clasificación no disponible
                </div>
            </div>
        </div>

        <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Partidos</h4>
                        <p class="category">Primera División - Temporada {{season}}</p>
                    </div>
                    <div *ngIf="tableData3.dataRows.length != 0" class="content table-responsive table-full-width">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Jornada</th>
                                    <th>Local</th>
                                    <th>Resultado</th>
                                    <th>Visitante</th>
                                    <th>Resumen</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData3.dataRows">
                                    <td>{{row.round}}</td>
                                    <td>{{getTeamById(row.local).name}}</td>
                                    <td>{{row.localGoals}} - {{row.awayGoals}}</td>
                                    <td>{{getTeamById(row.away).name}}</td>
                                    <td><a *ngIf="row.localGoals" href="">Resumen</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="tableData3.dataRows.length == 0" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                        Partidos no disponibles
                    </div>
                </div>
            </div>


        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Segunda División</h4>
                    <p class="category">Temporada {{season}}</p>
                </div>
                <div *ngIf="tableData2.dataRows.length != 0" class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>POS</th>
                                <th>Nombre</th>
                                <th>PJ</th>
                                <th>G</th>
                                <th>E</th>
                                <th>P</th>
                                <th>GF</th>
                                <th>GC</th>
                                <th>DG</th>
                                <th>PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData2.dataRows">
                                <td *ngFor="let cell of row">{{cell}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="tableData2.dataRows.length == 0" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                    Clasificación no disponible
                </div>
            </div>
        </div>

        <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Partidos</h4>
                        <p class="category">Segunda División - Temporada {{season}}</p>
                    </div>
                    <div *ngIf="tableData4.dataRows.length != 0" class="content table-responsive table-full-width">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Jornada</th>
                                    <th>Local</th>
                                    <th>Resultado</th>
                                    <th>Visitante</th>
                                    <th>Resumen</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData4.dataRows">
                                    <td>{{row.round}}</td>
                                    <td>{{getTeamById(row.local).name}}</td>
                                    <td>{{row.localGoals}} - {{row.awayGoals}}</td>
                                    <td><a *ngIf="row.localGoals" href="">Resumen</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="tableData4.dataRows.length == 0" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                        Partidos no disponibles
                    </div>
                </div>
            </div>
    </div>
</div>
