<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Primera División</h4>
                    <p class="category">Temporada {{season}}</p>
                </div>
                <div *ngIf="tableData1.dataRows.length !=0" class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>POS</th>
                                <th>Nombre</th>
                                <th>PJ</th>
                                <th>G</th>
                                <th>E</th>
                                <th>P</th>
                                <th>GF</th>
                                <th>GC</th>
                                <th>DG</th>
                                <th>PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData1.dataRows">
                                <td *ngFor="let cell of row">{{cell}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div *ngIf="tableData1.dataRows.length == 0" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                    Clasificación no disponible
                </div>
            </div>
        </div>

        <div class="col-md-12" *ngIf="playoffMatches">
            <div class="col-md-6">
                <h3>Semifinales Play-off</h3>
                <table style="margin-top: 60px;min-width:16.6%;min-height:14.65%;border-radius: 10%;background-color: #ccc5b9;" class="table table-hover">
                        <tbody>
                            <tr>
                                <td style="border-right: 1px solid #000;">{{getTeamById(playoffMatches[0].local).name}}</td>
                                <td style="border-right: 1px solid #000;" *ngIf="playoffMatches[0].localGoals != -1">{{playoffMatches[0].localGoals}}</td>
                                <td *ngIf="playoffMatches[2].awayGoals != -1">{{playoffMatches[2].awayGoals}}</td>
                            </tr>
                            <tr>
                                <td style="border-right: 1px solid #000;">{{getTeamById(playoffMatches[0].away).name}}</td>
                                <td style="border-right: 1px solid #000;" *ngIf="playoffMatches[0].awayGoals != -1">{{playoffMatches[0].awayGoals}}</td>
                                <td *ngIf="playoffMatches[2].localGoals != -1">{{playoffMatches[2].localGoals}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="margin-top: 60px;min-width:16.6%;min-height:14.65%;border-radius: 10%;background-color: #ccc5b9;" class="table table-hover">
                            <tbody>
                                <tr>
                                    <td style="border-right: 1px solid #000;">{{getTeamById(playoffMatches[1].local).name}}</td>
                                    <td style="border-right: 1px solid #000;" *ngIf="playoffMatches[1].localGoals != -1">{{playoffMatches[1].localGoals}}</td>
                                    <td *ngIf="playoffMatches[3].awayGoals != -1">{{playoffMatches[3].awayGoals}}</td>
                                </tr>
                                <tr>
                                    <td style="border-right: 1px solid #000;">{{getTeamById(playoffMatches[1].away).name}}</td>
                                    <td style="border-right: 1px solid #000;" *ngIf="playoffMatches[1].awayGoals != -1">{{playoffMatches[1].awayGoals}}</td>
                                    <td *ngIf="playoffMatches[3].localGoals != -1">{{playoffMatches[3].localGoals}}</td>
                                </tr>
                            </tbody>
                        </table>
            </div>
            <div class="col-md-6" *ngIf="playoffMatches && playoffMatches.length > 4">
                <h3>Final Play-off</h3>
                <table style="margin-top: 15px;min-width:16.6%;min-height:14.65%;border-radius: 10%;background-color: #ccc5b9;" class="table table-hover">
                        <tbody>
                            <tr>
                                <td style="border-right: 1px solid #000;">{{getTeamById(playoffMatches[4].local).name}}</td>
                                <td style="border-right: 1px solid #000;" *ngIf="playoffMatches[4].localGoals != -1">{{playoffMatches[4].localGoals}}</td>
                                <td *ngIf="playoffMatches[5].awayGoals != -1">{{playoffMatches[5].awayGoals}}</td>
                            </tr>
                            <tr>
                                <td style="border-right: 1px solid #000;">{{getTeamById(playoffMatches[4].away).name}}</td>
                                <td style="border-right: 1px solid #000;" *ngIf="playoffMatches[4].awayGoals != -1">{{playoffMatches[4].awayGoals}}</td>
                                <td *ngIf="playoffMatches[5].localGoals != -1">{{playoffMatches[5].localGoals}}</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Segunda División</h4>
                    <p class="category">Temporada {{season}}</p>
                </div>
                <div *ngIf="tableData2.dataRows.length != 0" class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>POS</th>
                                <th>Nombre</th>
                                <th>PJ</th>
                                <th>G</th>
                                <th>E</th>
                                <th>P</th>
                                <th>GF</th>
                                <th>GC</th>
                                <th>DG</th>
                                <th>PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData2.dataRows">
                                <td *ngFor="let cell of row">{{cell}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="tableData2.dataRows.length == 0" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                    Clasificación no disponible
                </div>
            </div>
        </div>

        <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Partidos</h4>
                        <p class="category">Primera División - Temporada {{season}}</p>
                    </div>
                    <div *ngIf="tableData3.dataRows.length != 0" class="content table-responsive table-full-width">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Jornada</th>
                                    <th>Local</th>
                                    <th>Resultado</th>
                                    <th>Visitante</th>
                                    <th>Resumen</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData3.dataRows">
                                    <td style="text-align: center;">{{row.round}}</td>
                                    <td style="text-align: center;">{{getTeamById(row.local).name}}</td>
                                    <td style="text-align: center;"><span *ngIf="row.localGoals != -1">{{row.localGoals}} - {{row.awayGoals}}</span><span *ngIf="row.localGoals == -1">-</span></td>
                                    <td style="text-align: center;">{{getTeamById(row.away).name}}</td>
                                    <td style="text-align: center;"><a *ngIf="row.localGoals != -1" style="cursor:pointer;" (click)="showSummary(row.id)">Resumen</a><span *ngIf="row.localGoals == -1">Por jugar</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="tableData3.dataRows.length == 0" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                        Partidos no disponibles
                    </div>
                </div>
            </div>

        <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Partidos</h4>
                        <p class="category">Segunda División - Temporada {{season}}</p>
                    </div>
                    <div *ngIf="tableData4.dataRows.length != 0" class="content table-responsive table-full-width">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Jornada</th>
                                    <th>Local</th>
                                    <th>Resultado</th>
                                    <th>Visitante</th>
                                    <th>Resumen</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData4.dataRows">
                                    <td style="text-align: center;">{{row.round}}</td>
                                    <td style="text-align: center;">{{getTeamById(row.local).name}}</td>
                                    <td style="text-align: center;"><span *ngIf="row.localGoals != -1">{{row.localGoals}} - {{row.awayGoals}}</span><span *ngIf="row.localGoals == -1">-</span></td>
                                    <td style="text-align: center;">{{getTeamById(row.away).name}}</td>
                                    <td style="text-align: center;"><a *ngIf="row.localGoals != -1" style="cursor:pointer;" (click)="showSummary(row.id)">Resumen</a><span *ngIf="row.localGoals == -1">Por jugar</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="tableData4.dataRows.length == 0" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                        Partidos no disponibles
                    </div>
                </div>
            </div>
    </div>
</div>
