<div class="container-fluid">
        <div class="row">
            <div *ngFor="let team of teams" class="col-md-12">
                <div class="card">
                    <div class="header">
                        <img src="{{team.imageRoute}}"/><h4 class="title">{{team.name}}</h4>
                        <p class="category">{{team.shortName}}</p>
                    </div>
                    <div *ngIf="team.players" class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Posición</th>
                                    <th>Nombre</th>
                                    <th>Media</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of team.players">
                                    <td>{{row.position}}</td>
                                    <td>{{row.name}}</td>
                                    <td>{{row.overage}}</td>
                                </tr>
                            </tbody>
                        </table>
    
                    </div>
                    <div *ngIf="team.players" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                        Plantilla no disponible
                    </div>
                </div>
            </div>
        </div>
    </div>
    