<div class="container-fluid">
        <div *ngIf="teams" class="row">
            <div>
                Nombre <input type="text" [(ngModel)]="filters.name" style="padding: 16px;"/>
            </div>
            <div *ngFor="let team of teams" class="col-md-12">
                <div class="card">
                    <div class="header">
                        <img src="{{team.imageRoute}}"/><h4 class="title">{{team.name}}</h4>
                        <p class="category">{{team.shortName}}</p>
                    </div>
                    <div *ngIf="isThereAnyPlayer(team.id)" class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Posición</th>
                                    <th>Nombre</th>
                                    <th>Media</th>
                                    <th>Cláusula</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of getPlayersByTeam(team.id)">
                                    <td *ngIf="row.name.toLowerCase().indexOf(filters.name.toLowerCase()) != -1">{{row.position}}</td>
                                    <td *ngIf="row.name.toLowerCase().indexOf(filters.name.toLowerCase()) != -1">{{row.name}}</td>
                                    <td *ngIf="row.name.toLowerCase().indexOf(filters.name.toLowerCase()) != -1">{{row.overage}}</td>
                                    <td *ngIf="row.name.toLowerCase().indexOf(filters.name.toLowerCase()) != -1 && row.salary<10 && row.buyedThisMarket == '0'">{{(row.salary*10)}} M€ <span *ngIf="user.teamID != team.id">-</span> <a style="cursor:pointer;" (click)="forceSignin(row)" *ngIf="user.teamID != team.id">Clausulazo</a> <span *ngIf="user.teamID != team.id">-</span> <a style="cursor:pointer;" (click)="row.filling = true" *ngIf="user.teamID != team.id">Oferta</a></td>
                                    <td *ngIf="row.name.toLowerCase().indexOf(filters.name.toLowerCase()) != -1 && row.salary>=10 && row.buyedThisMarket == '0'">INTOCABLE</td>
                                    <td *ngIf="row.name.toLowerCase().indexOf(filters.name.toLowerCase()) != -1 && row.buyedThisMarket == '1'">COMPRADO</td>
                                    <td *ngIf="row.filling" colspan="6">
                                        <offer-filler *ngIf="row.filling" [player]="row" (offered)="setOffer($event, row)"></offer-filler>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
    
                    </div>
                    <div *ngIf="!isThereAnyPlayer(team.id)" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                        Plantilla no disponible
                    </div>
                </div>
            </div>
        </div>
    </div>
    