<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card" *ngIf="tableData1">
                <div class="header">
                    <h4 class="title">Subastas</h4>
                    <p class="category">Total - {{tableData1.dataRows.length}}</p>
                    <span 
                        style="font-weight: bold; padding: 8px;border: 2pt solid black; background-color: #ccc; border-radius: 5px;" 
                        (click)="newAuction()">Nueva</span>
                </div>
                <div *ngIf="tableData1.dataRows.length !=0" class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Posición</th>
                                <th>Media</th>
                                <th>Coste</th>
                                <th>Ganador</th>
                                <th>Estado</th>
                                <th>Tiempo</th>
                                <th>Pujar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData1.dataRows">
                                <td>{{row.name}}</td>
                                <td>{{row.position}}</td>
                                <td>{{row.overage}}</td>
                                <td>{{row.team}}</td>
                                <td>{{row.amount}}</td>
                                <td *ngIf="row.state == 0">ABIERTA</td>
                                <td *ngIf="row.state == 1" colspan="3">CERRADA</td>
                                <td *ngIf="row.state == 0">{{updateTime(row.time)}}</td>
                                <td *ngIf="row.state == 0"><input type="number" [(ngModel)]="amountsRaised[$index]" min="{{row.amount}}" max="100" step="1" onkeydown="return false">
                                <a style="cursor:pointer;" (click)="raiseAuction(row.id, $index)">Pujar</a></td>
                                <td> *ngIf="</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div *ngIf="tableData1.dataRows.length == 0" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                    Lista no disponible
                </div>
            </div>
        </div>

    </div>
</div>
