<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card" *ngIf="tableData1.dataRows">
                <div class="header">
                    <h4 class="title">Subastas</h4>
                    <p class="category">Total - {{tableData1.dataRows.length}}</p>
                    <span *ngIf="!new"
                        style="float:right;font-weight: bold; padding: 8px;border: 2pt solid black; background-color: #ccc; border-radius: 5px;" 
                        (click)="new = true">Nueva
                    </span>
                </div>
                <div *ngIf="tableData1.dataRows.length !=0" class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Posición</th>
                                <th>Media</th>
                                <th>Coste</th>
                                <th>Origen</th>
                                <th>Ganador</th>
                                <th>Estado</th>
                                <th>Tiempo</th>
                                <th>Pujar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="new">
                                <td colspan="8">
                                    Nombre <input type="text" [(ngModel)]="newPlayer.name">
                                    Posición <input type="text" [(ngModel)]="newPlayer.position" maxlength="3">
                                    Media <input type="number" (change)="setAmount()" [(ngModel)]="newPlayer.overage" min="40" max="99" step="1">
                                    Coste inicial<input type="number" [(ngModel)]="newPlayer.amount" readonly>M€
                                    <a style="cursor:pointer;" (click)="addPlayerToAuction()">Abrir puja</a>
                                </td>
                            </tr>
                            <tr *ngFor="let row of tableData1.dataRows">
                                <td>{{row.name}}</td>
                                <td>{{row.position}}</td>
                                <td>{{row.overage}}</td>
                                <td>{{row.amount}}M€</td>
                                <td *ngIf="row.type == appService.config.signinTypes.freeAuction">{{appService.getTeamById(row.firstTeam).name}}</td>
                                <td *ngIf="row.type == appService.config.signinTypes.auction">NUEVO</td>
                                <td *ngIf="row.type != appService.config.signinTypes.freeAuction && row.type != appService.config.signinTypes.auction">{{appService.getTeamById(row.oldTeam).name}}</td>
                                <td>{{appService.getTeamById(row.team).name}}</td>
                                <td *ngIf="row.state == 0" style="color: green;font-weight: bold;">ABIERTA</td>
                                <td *ngIf="row.state == 1 && row.amplifiedState == -1" style="color: red;font-weight: bold;">CERRADA</td>
                                <td *ngIf="row.state == 1 && row.amplifiedState == 2" style="color: orange;font-weight: bold;">EN TANTEO</td>
                                <td *ngIf="row.state == 0">{{row.time}}</td>
                                <td *ngIf="row.state == 1 && row.amplifiedState == -1" colspan="2">00:00:00</td>
                                <td *ngIf="row.state == 1 && row.amplifiedState == 2 && row.firstTeam != appService.data.user.teamID">EN TANTEO</td>
                                <td *ngIf="row.state == 1 && row.amplifiedState == 2 && row.firstTeam == appService.data.user.teamID">¡¡CORRE!!</td>
                                <td *ngIf="row.state == 0 || (row.state == 1 && row.amplifiedState == 2 && row.firstTeam == appService.data.user.teamID)">
                                    <input type="number" [(ngModel)]="amountsRaised[$index]" min="{{row.amount}}" max="100" step="{{appService.config.auctionsRaisingStep}}">
                                    <a style="cursor:pointer;" (click)="raiseAuction(row.id, $index)">Pujar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="tableData1.dataRows.length == 0 && !new" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                    Lista no disponible
                </div>
                <div *ngIf="tableData1.dataRows.length == 0 && new" class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Posición</th>
                                <th>Media</th>
                                <th>Coste</th>
                                <th>Ganador</th>
                                <th>Estado</th>
                                <th>Tiempo</th>
                                <th>Pujar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="new">
                                <td colspan="8">
                                    Nombre <input type="text" [(ngModel)]="newPlayer.name">
                                    Posición <input type="text" [(ngModel)]="newPlayer.position" maxlength="3">
                                    Media <input type="number" (change)="setAmount()" [(ngModel)]="newPlayer.overage" min="40" max="99" step="1">
                                    Coste inicial<input type="number" [(ngModel)]="newPlayer.amount" readonly>M€
                                    <a style="cursor:pointer;" (click)="addPlayerToAuction()">Abrir puja</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
