<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-12" (click)="resetView();showCard.matchRules = true">
                <div style="cursor: pointer" class="card">
                    <div class="header text-center">
                        <p style="font-weight: bold" class="category">Partidos<br/><br/></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12" (click)="resetView();showCard.playerRules = true">
                <div style="cursor: pointer" class="card">
                    <div class="header text-center">
                        <p style="font-weight: bold" class="category">Jugadores y Contratos<br/><br/></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12" (click)="resetView();showCard.marketRules = true">
                <div style="cursor: pointer" class="card">
                    <div class="header text-center">
                        <p style="font-weight: bold" class="category">Mercado<br/><br/></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12" (click)="resetView();showCard.penaltyRules = true">
                <div style="cursor: pointer" class="card">
                    <div class="header text-center">
                        <p style="font-weight: bold" class="category">Sanciones y Lesiones<br/><br/></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12" (click)="resetView();showCard.prizes = true">
                <div style="cursor: pointer" class="card">
                    <div class="header text-center">
                        <p style="font-weight: bold" class="category">Premios de Torneos<br/><br/></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12" (click)="resetView();showCard.polls = true">
                <div style="cursor: pointer" class="card">
                    <div class="header text-center">
                        <p style="font-weight: bold" class="category">Encuestas<br/><br/></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="showCard.matchRules">
            <div class="col-md-12">
                <div class="card">
                    <div class="header text-center">
                        <h3 class="title">Normas de Partidos</h3>
                        <p class="category" style="text-align: left">
                            <br/><br/> <span>Partidos a 6 minutos cada parte, con velocidad normal</span>
                            <br/><br/> <span>La invitación debe ser enviada por el equipo local</span>
                            <br/><br/> <span>El ganador del partido debe postear los datos de éste, incluyendo: resultado, goles, asistencias, tarjetas amarillas, tarjetas rojas, lesiones y MVP. En caso de empate, debe postear el local.</span>
                            <br/><br/> <span>No está permitido trucar las estadísticas de los jugadores</span>
                            <br/><br/> <span>No está permitido hacer pausas con intención de desestabilizar psicológicamente al rival</span>
                            <br/><br/> <span>No está permitido perder tiempo de manera deliberada</span>
                            <br/><br/> <span>No está permitido obstruir tiros de falta poniendo un jugador bajo el larguero o cerca de él</span>
                            <br/><br/> <span>No está permitido faltar al respeto al rival antes, durante o después del partido</span>
                            <br/><br/> <span>Las prórrogas en caso de empate en eliminatoria serán a gol de oro: el primero que marque en un nuevo partido gana</span>
                            <br/><br/> <span>En caso de darse estos supuestos, el jugador puede denunciar ante la administración alguna de éstas prácticas, incluyendo prueba visual. En caso de juzgarse cierto, a criterio siempre del administrador, se podrá sancionar al equipo infractor con uno o varios partidos de sanción, incluso con la expulsión de la liga si el jugador es reincidente.</span>
                        </p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="showCard.playerRules">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header text-center">
                            <h3 class="title">Normas de Jugadores y Contratos</h3>
                            <p class="category" style="text-align: left">
                                    <br/><br/> <span>Primeramente, se sorteará el orden de elección totalmente aleatorio, y en ése orden se elegirá un equipo</span>
                                    <br/><br/> <span>Se le asignará un presupuesto al equipo en función de su puntaje en estrellas:</span>
                                    <ul style="text-align: left; color: #9A9A9A">
                                        <li>5 estrellas - 150M€</li>
                                        <li>4,5 estrellas - 200M€</li>
                                    </ul>
                                    <br/><br/> <span>Al principio de cada temporada el manager ha de realizar el pago de sueldos a sus jugadores. El sueldo de un jugador variará entre 0,1M€ y 9,9M€</span>
                                    <br/><br/> <span>El jugador, consecuentemente, tendrá una cláusula por valor de 10 veces su sueldo</span>
                                    <br/><br/> <span>El límite de sueldos es de 100M€</span>
                                    <br/><br/> <span>En un principio, cada equipo podrá tener entre 0 y 3 jugadores intocables, los cuales tienen un sueldo automático de 10M€ y no tienen cláusula, es decir, no pueden ser comprados a la fuerza. Posteriormente, el número de intocables variará de la posición en liga</span>
                                    <br/><br/> <span>Uno de los intocables, si es que los hay, debe ser designado Jugador Emblema. Éste jugador, designado como estrella absoluta del equipo, en caso de no disputar el partido por sanción o lesión, el equipo será multado con 2M€ por partido. Si no se designa a un jugador emblema, será el jugador con más media, sea intocable o no</span>
                                    <br/><br/> <span>Cada equipo debe tener entre 18 y 25 jugadores</span>
                                    <br/><br/> <span>Se pueden liberar jugadores en cualquier momento, no otorgándoles sueldo y etiquetándolos como libres</span>
                                    
                            <br>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row" *ngIf="showCard.marketRules">
            <div class="col-md-12">
                <div class="card">
                    <div class="header text-center">
                        <h3 class="title">Normas de Mercado</h3>
                        <p class="category" style="text-align: left">
                                <br/><br/> <span>Se realizarán dos periodos de mercado: de verano (entre temporadas, 2 días de duración) y de invierno (a mitad de temporada, 1 día de duración)</span>
                                <br/><br/> <span>Antes de comenzar el mercado de verano, cada equipo podrá elegir un patrocinador que le otorgará dinero extra en función de objetivos dentro de la siguiente temporada, además de un pago base instantáneo</span>
                                <br/><br/> <span>En caso de perder un jugador por desaparición de éste en el juego, el manager podrá elegir entre obtener un jugador libre de la misma media o dinero, 10M€ en caso de tener media de 80 o más y 5M€ en lugar de tener media de 79 o menos</span>
                                <br/><br/> <span>Los jugadores libres podrán ser adquiridos a coste cero por cualquier manager</span> 
                                <br/><br/> <span>El límite de sueldos es de 100M€</span>
                                <br/><br/> <span>En un principio, cada equipo podrá tener entre 0 y 3 jugadores intocables, los cuales tienen un sueldo automático de 10M€ y no tienen cláusula, es decir, no pueden ser comprados a la fuerza. Posteriormente, el número de intocables variará de la posición en liga</span>
                                <br/><br/> <span>Uno de los intocables, si es que los hay, debe ser designado Jugador Emblema. Éste jugador, designado como estrella absoluta del equipo, en caso de no disputar el partido por sanción o lesión (nunca por decisión técnica), el equipo será multado con 2M€ por partido. Si no se designa a un jugador emblema, será el jugador con más media, sea intocable o no</span>
                                <br/><br/> <span>Cada equipo debe tener entre 18 y 25 jugadores</span>
                                <br/><br/> <span>En los períodos de mercado se pueden realizar varias cosas:</span>
                                <ul style="text-align: left; color: #9A9A9A;">
                                    <li>Durante parte del periodo de verano, se podrán realizar pagos de cláusulas a otros equipos, pagando el valor de su cláusula y sin posibilidad de negociación, exceptuando los intocables y los libres. Máximo 3 cláusulas realizadas y 3 cláusulas recibidas. Se puede guardar una cláusula para el mercado de invierno. En el mercado de invierno, puede recibir una cuarta cláusula con un recargo del 50%</li>
                                    <li>Se podrán hacer acuerdos de compra y cesión, tanto por dinero como intercambiando jugadores, sin límite</li>
                                    <li>Se podrán comprar y descartar jugadores libres, a coste cero</li>
                                    <li>Se podrán realizar hasta tres subastas de jugadores que no se estén ni hayan estado alguna vez dentro de un equipo de la liga. Las subastas tendrán una duración de 12 horas desde el momento de la primera puja, y el último pujante más alto se llevará el jugador.</li>
                                    <li>Los montos mínimos (según la media del jugador) para subastar son:
                                        <ul>
                                            <li>70 o menos - 2M€</li>
                                            <li>71-75 - 3M€</li>
                                            <li>76-80 - 5M€</li>
                                            <li>81-85 - 10M€</li>
                                            <li>86 o más - 15M€</li>
                                        </ul>
                                    </li>
                                </ul>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="showCard.penaltyRules">
            <div class="col-md-12">
                <div class="card">
                    <div class="header text-center">
                        <h3 class="title">Normas de Sanciones y Lesiones</h3>
                        <p class="category" style="text-align: left">
                                <br/><br/> <span>Una tarjeta roja a un jugador supondrá dos partidos de sanción en la misma competición</span>
                                <br/><br/> <span>La acumulación de dos tarjetas amarillas supondrá un partido de sanción en la misma competición</span>
                                <br/><br/> <span>Si el jugador acaba un partido con lesión, supondrá un partido sin jugar. <b>¿Cómo verlo? Importante fijarse:</b> Se pueden observar las lesiones al finalizar el partido, en el menú, en Datos del Partido o Valoraciones</span>
                                <br/><br/> <span>Las sanciones y lesiones se cumplirán en el siguiente ciclo de jornadas, coincidiendo con el orden del partido. Por ejemplo: Si un jugador se lesiona en la jornada 1 (ciclo de 1 a 3), no podrá jugar el primer partido del siguiente ciclo, es decir, la jornada 4. Esto no se aplica del último ciclo de la temporada al primero de la siguiente</span>
                                <br/><br/> <span>En caso de sanción o lesión en eliminatoria, no jugará el siguiente partido inmediato, sea ida o vuelta.</span>
                                <br/><br/> <span>Un equipo designado como No Presentado y sin causas que lo justifiquen deberá pagar 5M€ por el partido en cuestión</span>
                                <br/><br/> <span>Los RAGE QUIT (salirse del partido por ir perdiendo) serán penalizados con la sanción de su mejor jugador en la siguiente ronda de jornadas, con carácter general (pasa de una temporada a otra, entre competiciones, etc...)</span>
                                <br/><br/> <span>Tras el mercado, el manager que tenga su saldo en negativo recibirá una sanción en función de la cuantía negativa, aparte de la obligación de quedar en positivo la siguiente temporada. Las sanciones tienen efecto inmediato:</span>
                                <ul style="text-align: left; color: #9A9A9A">
                                    <li>Sanción base: Prohibición de jugar en los 3 primeros partidos de la temporada a los tres mejores jugadores por media del equipo</li>
                                    <li>De -0,1M€ a -5M€: Sanción Base</li>
                                    <li>De -5,1M€ a -20M€: Sanción Base + un intocable menos la siguiente temporada</li>
                                    <li>De -20,1M€ a -40M€: Sanción Base + dos intocables menos la siguiente temporada + rebaja a 80M€ de presupuesto salarial la siguiente temporada</li>
                                    <li>De -40,1M€ en adelante: Sanción Base + sin intocables la próxima temporada + rebaja a 60M€ de presupuesto salarial la siguiente temporada</li>
                                </ul>
                                
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="showCard.penaltyRules">
            <div class="col-md-12">
                <div class="card">
                    <div class="header text-center">
                        <h3 class="title">Premios de Torneos</h3>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <div class="header text-center">
                        <p class="category">
                            Primera División
                            <br/><br/> <span>Un campeonato regular de 14 jornadas a ida y vuelta. El primero gana la liga</span>
                            <br/><br/> <span>1º - 110M€</span>
                            <br/><span>2º - 100M€</span>
                            <br/><span>3º -  95M€</span>
                            <br/><span>4º -  90M€</span>
                            <br/><span>5º -  85M€</span>
                            <br/><span>6º -  80M€</span>
                            <br/><span>7º -  75M€</span>
                            <br/><span>8º -  70M€</span>
                        </p>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                    <div class="card">
                        <div class="header text-center">
                            <p class="category">
                                Segunda División
                                <br/><br/> <span>Un campeonato regular de 14 jornadas a ida y vuelta. El primero asciende directamente, del 2 al 5 disputan un playoff (2 vs 5 y 3 vs 4) a doble partido, y los ganadores se disputarán a doble partido el ascenso a primera</span>
                                <br/><br/> <span>1º - 95M€</span>
                                <br/><span>2º - 85M€</span>
                                <br/><span>3º - 80M€</span>
                                <br/><span>4º - 75M€</span>
                                <br/><span>5º - 70M€</span>
                                <br/><span>6º - 65M€</span>
                                <br/><span>7º - 60M€</span>
                                <br/><span>8º - 60M€</span>
                            </p>
                            <br>
                        </div>
                    </div>
            </div>
            <div class="col-md-4 col-sm-12">
                    <div class="card">
                        <div class="header text-center">
                            <p class="category">
                                Premios Auxiliares de Liga Regular
                                <br/><br/> <span>Pichichi en temporada: 12 M€</span>
                                <br/><span>Equipo menos goleado: 10 M€</span>
                                <br/><span>Equipo más goleador: 10 M€</span>
                                <br/><span>MVP temporada: 10 M€</span>
                                <br/><span>Maximo asistente: 8 M€</span>
                            </p>
                            <br>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="card">
                        <div class="header text-center">
                            <p class="category">
                                Copa General de Clubes
                                <br/><br/> <span>Copa por eliminatorias a doble partido hasta la final a partido único</span>
                                <br/><br/> <span>1º - 18M€</span>
                                <br/><span>2º - 12M€</span>
                                <br/><span>3º -  8M€</span>
                                <br/><span>4º -  5M€</span>
                            </p>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                        <div class="card">
                            <div class="header text-center">
                                <p class="category">
                                    Champions League
                                    <br/><br/> <span>El máximo trofeo continental. Fase de grupos más eliminatorias a doble partido hasta la final</span>
                                    <br/><br/> <span>1º - 25M€</span>
                                    <br/><span>2º - 18M€</span>
                                    <br/><span>3º - 14M€</span>
                                    <br/><span>4º - 10M€</span>
                                    <br/><span>Participación - 2M€</span>
                                </p>
                                <br>
                            </div>
                        </div>
                </div>
                <div class="col-md-4 col-sm-12">
                        <div class="card">
                            <div class="header text-center">
                                <p class="category">
                                    Europa League
                                    <br/><br/> <span>El segundo trofeo continental. Participan los eliminados en fase de grupos de Champions. Eliminatorias a doble partido hasta la final</span>
                                    <br/><br/> <span>1º - 15M€</span>
                                    <br/><span>2º - 10M€</span>
                                    <br/><span>3º -  7M€</span>
                                    <br/><span>4º -  5M€</span>
                                </p>
                                <br>
                            </div>
                        </div>
                </div>
        </div>
        <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="card">
                        <div class="header text-center">
                            <p class="category">
                                Copa Mugre
                                <br/><br/> <span>EL AUTÉNTICO TROFEO DE LA LIGA. Participan los eliminados en primera ronda de Europa League. Semifinal a doble partido y final a partido único</span>
                                <br/><br/> <span>1º - 5M€</span>
                                <br/><span>2º - 3M€</span>
                                <br/><span>3º - 2M€</span>
                                <br/><span>4º -  1M€</span>
                            </p>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                        <div class="card">
                            <div class="header text-center">
                                <p class="category">
                                    Liga de Naciones
                                    <br/><br/> <span>Competición de selecciones con 4 divisiones de 4 equipos cada una. 
                                    Se jugarán 3 jornadas, ascendiendo el primero de cada división y descendiendo el último. 
                                    Las 3 jornadas se jugarán durante una vuelta entera, de manera que haya dos ligas de naciones 
                                    por temporada. Cada temporada se sortearán de nuevo las selecciones. La convocatoria de éstas 
                                    es libre. Los ganadores de la segunda vuelta además disputarán un playoff a partido único 
                                    por ser el campeón del año, en el que el premio será 30 minutos de acceso prioritario a las 
                                    cláusulas del siguiente mercado.</span>
                                    <br/><br/> <span>1º - 25M€</span>
                                    <br/><span>2º - 18M€</span>
                                    <br/><span>3º - 14M€</span>
                                    <br/><span>4º - 10M€</span>
                                    <br/><span>Participación - 2M€</span>
                                </p>
                                <br>
                            </div>
                        </div>
                </div>
                <div class="col-md-4 col-sm-12">
                        <div class="card">
                            <div class="header text-center">
                                <p class="category">
                                    Supercopas
                                    <br/><br/> <span>El segundo trofeo continental. Participan los eliminados en fase de grupos de Champions. Eliminatorias a doble partido hasta la final</span>
                                    <br/><br/> <span>1º - 15M€</span>
                                    <br/><span>2º - 10M€</span>
                                    <br/><span>3º -  7M€</span>
                                    <br/><span>4º -  5M€</span>
                                </p>
                                <br>
                            </div>
                        </div>
                </div>
        </div>
    </div>
</div>