<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="padding: 16px;">
                <h1 style="text-align: right !important;"
                *ngIf="getTournamentById(data.tournament).name != 'Nations League'">
                {{getTeamById(data.local).name}} {{local.score}}</h1>
                <h1 style="text-align: right !important;"
                *ngIf="getTournamentById(data.tournament).name == 'Nations League'">
                {{getTeamById(data.local).nation}} <input class="col-md-3" type="number" step="1" min="0" [(ngModel)]="local.score"></h1>
                <div *ngIf="getTournamentById(data.tournament).name != 'Nations League'">
                    <span style="display:block;">Goles</span>
                    <div>
                        <ul class="heroes">
                            <li *ngFor="let locScore of local.scorers">{{getPlayerById(locScore).name}}</li>
                        </ul>
                        <select [(ngModel)]="models.localScorer">
                            <option *ngFor="let teamPlayer of localPlayers" 
                            [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                            <option [ngValue]="0">No lo sé</option>
                        </select>
                    </div>
                    <button (click)="addScorer(data.local)" style="margin-top: 4px;">Añadir</button>
                    <span style="display:block;">Asistencias</span>
                    <div>
                        <ul class="heroes">
                            <li *ngFor="let locAssistant of local.assistants">{{getPlayerById(locAssistant).name}}</li>
                        </ul>
                        <select [(ngModel)]="models.localAssistant">
                            <option *ngFor="let teamPlayer of localPlayers" 
                            [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                            <option [ngValue]="0">No lo sé</option>
                        </select>
                    </div>
                    <button (click)="addAssistant(data.local)" style="margin-top: 4px;">Añadir</button>
                    <span style="display:block;">Amarillas</span>
                    <div>
                        <ul class="heroes">
                            <li *ngFor="let locYellowCard of local.yellowCards">{{getPlayerById(locYellowCard).name}}</li>
                        </ul>
                        <select [(ngModel)]="models.localYellowCard">
                            <option *ngFor="let teamPlayer of localPlayers" 
                            [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                            <option [ngValue]="0">No lo sé</option>
                        </select>
                    </div>
                    <button (click)="addYellowCard(data.local)" style="margin-top: 4px;">Añadir</button>
                    <span style="display:block;">Rojas</span>
                    <div>
                        <ul class="heroes">
                            <li *ngFor="let locRedCard of local.redCards">{{getPlayerById(locRedCard).name}}</li>
                        </ul>
                        <select [(ngModel)]="models.localRedCard">
                            <option *ngFor="let teamPlayer of localPlayers" 
                            [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                            <option [ngValue]="0">No lo sé</option>
                        </select>
                    </div>
                    <button (click)="addRedCard(data.local)" style="margin-top: 4px;">Añadir</button>
                    <span style="display:block;">Lesiones</span>
                    <div>
                        <ul class="heroes">
                            <li *ngFor="let locInjury of local.injuries">{{getPlayerById(locInjury).name}}</li>
                        </ul>
                        <select [(ngModel)]="models.localinjury">
                            <option *ngFor="let teamPlayer of localPlayers" 
                            [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                            <option [ngValue]="0">No lo sé</option>
                        </select>
                    </div>
                    <button (click)="addInjury(data.local)" style="margin-top: 4px;">Añadir</button>
                    <span style="display:block;">MVP</span>
                    <div>
                        <ul class="heroes">
                            <li *ngFor="let locMVP of local.mvp">{{getPlayerById(locMVP).name}}</li>
                        </ul>
                        <select [(ngModel)]="models.localmvp">
                            <option *ngFor="let teamPlayer of localPlayers" 
                            [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                            <option [ngValue]="0">No lo sé</option>
                        </select>
                    </div>
                    <button (click)="addMVP(data.local)" style="margin-top: 4px;">Añadir</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" style="padding: 16px;">
                <h1 style="text-align: right !important;"
                *ngIf="getTournamentById(data.tournament).name != 'Nations League'">
                {{getTeamById(data.away).name}} {{away.score}}</h1>
                <h1 style="text-align: right !important;"
                *ngIf="getTournamentById(data.tournament).name == 'Nations League'">
                {{getTeamById(data.away).nation}} <input class="col-md-3" type="number" step="1" min="0" [(ngModel)]="away.score"></h1>
                <div *ngIf="getTournamentById(data.tournament).name != 'Nations League'">
                    <span style="display:block;">Goles</span>
                    <div>
                        <ul class="heroes">
                            <li *ngFor="let awaScorer of away.scorers">{{getPlayerById(awaScorer).name}}</li>
                        </ul>
                        <select [(ngModel)]="models.awayScorer">
                                <option *ngFor="let teamPlayer of awayPlayers" 
                                [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                                <option [ngValue]="0">No lo sé</option>
                        </select>
                        </div>
                        <button (click)="addScorer(data.away)" style="margin-top: 4px;">Añadir</button>
                        <span style="display:block;">Asistencias</span>
                        <div>
                            <ul class="heroes">
                            <li *ngFor="let awaAssistant of away.assistants">{{getPlayerById(awaAssistant).name}}</li>
                        </ul>
                            <select [(ngModel)]="models.awayAssistant">
                                <option *ngFor="let teamPlayer of awayPlayers" 
                                [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                                <option [ngValue]="0">No lo sé</option>
                            </select>
                        </div>
                        <button (click)="addAssistant(data.away)" style="margin-top: 4px;">Añadir</button>
                        <span style="display:block;">Amarillas</span>
                        <div>
                            <ul class="heroes">
                            <li *ngFor="let awaYellowCard of away.yellowCards">{{getPlayerById(awaYellowCard).name}}</li>
                        </ul>
                            <select [(ngModel)]="models.awayYellowCard">
                                <option *ngFor="let teamPlayer of awayPlayers" 
                                [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                                <option [ngValue]="0">No lo sé</option>
                            </select>
                        </div>
                        <button (click)="addYellowCard(data.away)" style="margin-top: 4px;">Añadir</button>
                        <span style="display:block;">Rojas</span>
                        <div>
                            <ul class="heroes">
                            <li *ngFor="let awaRedCards of away.redCards">{{getPlayerById(awaRedCards).name}}</li>
                        </ul>
                            <select [(ngModel)]="models.awayRedCard">
                                <option *ngFor="let teamPlayer of awayPlayers" 
                                [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                                <option [ngValue]="0">No lo sé</option>
                            </select>
                        </div>
                        <button (click)="addRedCard(data.away)" style="margin-top: 4px;">Añadir</button>
                        <span style="display:block;">Lesiones</span>
                        <div>
                            <ul class="heroes">
                            <li *ngFor="let awaInjury of away.injuries">{{getPlayerById(awaInjury).name}}</li>
                        </ul>
                            <select [(ngModel)]="models.awayinjury">
                                <option *ngFor="let teamPlayer of awayPlayers" 
                                [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                                <option [ngValue]="0">No lo sé</option>
                            </select>
                        </div>
                        <button (click)="addInjury(data.away)" style="margin-top: 4px;">Añadir</button>
                    <span style="display:block;">MVP</span>
                        <div>
                            <ul class="heroes">
                            <li *ngFor="let awaMVP of away.mvp">{{getPlayerById(awaMVP).name}}</li>
                        </ul>
                            <select [(ngModel)]="models.awaymvp">
                                <option *ngFor="let teamPlayer of awayPlayers" 
                                [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                                <option [ngValue]="0">No lo sé</option>
                            </select>
                        </div>
                        <button (click)="addMVP(data.away)" style="margin-top: 4px;">Añadir</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="col-md-12" (click)="sendMatchInfo()">Enviar Informe</button>
    </div>
</div>
