<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card" style="padding: 16px;">
                <h1 style="text-align: right !important;"
                *ngIf="appService.getTournamentById(data.tournament).name != appService.config.tournamentGeneralInfo.nationsLeague.name">
                {{appService.getTeamById(data.local).name}} {{local.score}}</h1>
                <h1 style="text-align: right !important;"
                *ngIf="appService.getTournamentById(data.tournament).name == appService.config.tournamentGeneralInfo.nationsLeague.name">
                {{appService.getTeamById(data.local).nation}} <input class="col-md-3" type="number" step="1" min="0" [(ngModel)]="local.score"></h1>
                <div *ngIf="appService.getTournamentById(data.tournament).name != appService.config.tournamentGeneralInfo.nationsLeague.name">
                    <span style="display:block;">Goles</span>
                    <div>
                        <ul class="heroes">
                            <li style="list-style: none;" *ngFor="let locScore of local.scorers; let i = index">
                                <span *ngIf="locScore > 0">{{appService.getPlayerById(locScore).name}} </span>
                                <span *ngIf="locScore == 0">Gol en Propia Puerta</span>
                                <span *ngIf="locScore == -1">Desconocido</span>
                                <i class="ti-close" (click)="removeScorer(data.local, i)"></i>
                            </li>
                        </ul>
                        <select [(ngModel)]="models.localScorer">
                            <option *ngFor="let teamPlayer of localPlayers" 
                            [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                            <option [ngValue]="0">Gol en Propia Puerta</option>
                            <option [ngValue]="-1">No lo sé</option>
                        </select>
                    </div>
                    <button (click)="addScorer(data.local)" style="margin-top: 4px;">Añadir</button>
                    <span style="display:block;">Asistencias</span>
                    <div>
                        <ul class="heroes">
                            <li style="list-style: none;" *ngFor="let locAssistant of local.assistants; let i = index">
                                <span *ngIf="locAssistant > 0">{{appService.getPlayerById(locAssistant).name}}</span>
                                <span *ngIf="locAssistant == -1">Desconocido</span> 
                                <i class="ti-close" (click)="removeAssistant(data.local, i)"></i>
                            </li>
                        </ul>
                        <select [(ngModel)]="models.localAssistant">
                            <option *ngFor="let teamPlayer of localPlayers" 
                            [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                            <option [ngValue]="-1">No lo sé</option>
                        </select>
                    </div>
                    <button (click)="addAssistant(data.local)" style="margin-top: 4px;">Añadir</button>
                    <span style="display:block;">Amarillas</span>
                    <div>
                        <ul class="heroes">
                            <li style="list-style: none;" *ngFor="let locYellowCard of local.yellowCards; let i = index">
                                    <span *ngIf="locYellowCard > 0">{{appService.getPlayerById(locYellowCard).name}}</span>
                                    <span *ngIf="locYellowCard == -1">Desconocido</span> 
                                    <i class="ti-close" (click)="removeYellowCard(data.local, i)"></i>
                                </li>
                        </ul>
                        <select [(ngModel)]="models.localYellowCard">
                            <option *ngFor="let teamPlayer of localPlayers" 
                            [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                            <option [ngValue]="-1">No lo sé</option>
                        </select>
                    </div>
                    <button (click)="addYellowCard(data.local)" style="margin-top: 4px;">Añadir</button>
                    <span style="display:block;">Rojas</span>
                    <div>
                        <ul class="heroes">
                            <li style="list-style: none;" *ngFor="let locRedCard of local.redCards; let i = index">
                                    <span *ngIf="locRedCard > 0">{{appService.getPlayerById(locRedCard).name}}</span>
                                    <span *ngIf="locRedCard == -1">Desconocido</span> 
                                    <i class="ti-close" (click)="removeRedCard(data.local, i)"></i>
                            </li>
                        </ul>
                        <select [(ngModel)]="models.localRedCard">
                            <option *ngFor="let teamPlayer of localPlayers" 
                            [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                            <option [ngValue]="-1">No lo sé</option>
                        </select>
                    </div>
                    <button (click)="addRedCard(data.local)" style="margin-top: 4px;">Añadir</button>
                    <span style="display:block;">Lesiones</span>
                    <div>
                        <ul class="heroes">
                            <li style="list-style: none;" *ngFor="let locInjury of local.injuries; let i = index">
                                    <span *ngIf="locInjury > 0">{{appService.getPlayerById(locInjury).name}}</span>
                                    <span *ngIf="locInjury == -1">Desconocido</span> 
                                    <i class="ti-close" (click)="removeInjury(data.local, i)"></i>
                            </li>
                        </ul>
                        <select [(ngModel)]="models.localinjury">
                            <option *ngFor="let teamPlayer of localPlayers" 
                            [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                            <option [ngValue]="-1">No lo sé</option>
                        </select>
                    </div>
                    <button (click)="addInjury(data.local)" style="margin-top: 4px;">Añadir</button>
                    <span style="display:block;">MVP</span>
                    <div>
                        <ul class="heroes">
                            <li style="list-style: none;" *ngFor="let locMVP of local.mvp; let i = index">
                                    <span *ngIf="locMVP > 0">{{appService.getPlayerById(locMVP).name}}</span>
                                    <span *ngIf="locMVP == -1">Desconocido</span> 
                                    <i class="ti-close" (click)="removeMVP(data.local, i)"></i>
                            </li>
                        </ul>
                        <select [(ngModel)]="models.localmvp">
                            <option *ngFor="let teamPlayer of localPlayers" 
                            [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                            <option [ngValue]="-1">No lo sé</option>
                        </select>
                    </div>
                    <button (click)="addMVP(data.local)" style="margin-top: 4px;">Añadir</button>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card" style="padding: 16px;">
                <h1 style="text-align: right !important;"
                *ngIf="getTournamentById(data.tournament).name != appService.config.tournamentGeneralInfo.nationsLeague.name">
                {{appService.getTeamById(data.away).name}} {{away.score}}</h1>
                <h1 style="text-align: right !important;"
                *ngIf="getTournamentById(data.tournament).name == appService.config.tournamentGeneralInfo.nationsLeague.name">
                {{appService.getTeamById(data.away).nation}} <input class="col-md-3" type="number" step="1" min="0" [(ngModel)]="away.score"></h1>
                <div *ngIf="getTournamentById(data.tournament).name != appService.config.tournamentGeneralInfo.nationsLeague.name">
                    <span style="display:block;">Goles</span>
                    <div>
                        <ul class="heroes">
                            <li style="list-style: none;" *ngFor="let awaScorer of away.scorers; let i = index">
                                <span *ngIf="awaScorer > 0">{{appService.getPlayerById(awaScorer).name}}</span>
                                <span *ngIf="awaScorer == 0">Gol en Propia Puerta</span>
                                <span *ngIf="awaScorer == -1">Desconocido</span> 
                                <i class="ti-close" (click)="removeScorer(data.away, i)"></i>
                            </li>
                        </ul>
                        <select [(ngModel)]="models.awayScorer">
                                <option *ngFor="let teamPlayer of awayPlayers" 
                                [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                                <option [ngValue]="0">Gol en Propia Puerta</option>
                                <option [ngValue]="-1">No lo sé</option>
                        </select>
                        </div>
                        <button (click)="addScorer(data.away)" style="margin-top: 4px;">Añadir</button>
                        <span style="display:block;">Asistencias</span>
                        <div>
                            <ul class="heroes">
                            <li style="list-style: none;" *ngFor="let awaAssistant of away.assistants; let i = index">
                                    <span *ngIf="awaAssistant > 0">{{appService.getPlayerById(awaAssistant).name}}</span>
                                    <span *ngIf="awaAssistant == -1">Desconocido</span> 
                                    <i class="ti-close" (click)="removeAssistant(data.away, i)"></i>
                            </li>
                        </ul>
                            <select [(ngModel)]="models.awayAssistant">
                                <option *ngFor="let teamPlayer of awayPlayers" 
                                [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                                <option [ngValue]="-1">No lo sé</option>
                            </select>
                        </div>
                        <button (click)="addAssistant(data.away)" style="margin-top: 4px;">Añadir</button>
                        <span style="display:block;">Amarillas</span>
                        <div>
                            <ul class="heroes">
                            <li style="list-style: none;" *ngFor="let awaYellowCard of away.yellowCards; let i = index">
                                    <span *ngIf="awaYellowCard > 0">{{appService.getPlayerById(awaYellowCard).name}}</span>
                                    <span *ngIf="awaYellowCard == -1">Desconocido</span> 
                                    <i class="ti-close" (click)="removeYellowCard(data.away, i)"></i>
                            </li>
                        </ul>
                            <select [(ngModel)]="models.awayYellowCard">
                                <option *ngFor="let teamPlayer of awayPlayers" 
                                [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                                <option [ngValue]="-1">No lo sé</option>
                            </select>
                        </div>
                        <button (click)="addYellowCard(data.away)" style="margin-top: 4px;">Añadir</button>
                        <span style="display:block;">Rojas</span>
                        <div>
                            <ul class="heroes">
                            <li style="list-style: none;" *ngFor="let awaRedCards of away.redCards; let i = index">
                                    <span *ngIf="awaRedCards > 0">{{appService.getPlayerById(awaRedCards).name}}</span>
                                    <span *ngIf="awaRedCards == -1">Desconocido</span> 
                                    <i class="ti-close" (click)="removeRedCard(data.away, i)"></i>
                            </li>
                        </ul>
                            <select [(ngModel)]="models.awayRedCard">
                                <option *ngFor="let teamPlayer of awayPlayers" 
                                [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                                <option [ngValue]="-1">No lo sé</option>
                            </select>
                        </div>
                        <button (click)="addRedCard(data.away)" style="margin-top: 4px;">Añadir</button>
                        <span style="display:block;">Lesiones</span>
                        <div>
                            <ul class="heroes">
                            <li style="list-style: none;" *ngFor="let awaInjury of away.injuries; let i = index">
                                    <span *ngIf="awaInjury > 0">{{appService.getPlayerById(awaInjury).name}}</span>
                                    <span *ngIf="awaInjury == -1">Desconocido</span> 
                                    <i class="ti-close" (click)="removeInjury(data.away, i)"></i>
                            </li>
                        </ul>
                            <select [(ngModel)]="models.awayinjury">
                                <option *ngFor="let teamPlayer of awayPlayers" 
                                [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                                <option [ngValue]="-1">No lo sé</option>
                            </select>
                        </div>
                        <button (click)="addInjury(data.away)" style="margin-top: 4px;">Añadir</button>
                    <span style="display:block;">MVP</span>
                        <div>
                            <ul class="heroes">
                            <li style="list-style: none;" *ngFor="let awaMVP of away.mvp; let i = index">
                                    <span *ngIf="awaMVP > 0">{{appService.getPlayerById(awaMVP).name}}</span>
                                    <span *ngIf="awaMVP == -1">Desconocido</span> 
                                    <i class="ti-close" (click)="removeMVP(data.away, i)"></i>
                            </li>
                        </ul>
                            <select [(ngModel)]="models.awaymvp">
                                <option *ngFor="let teamPlayer of awayPlayers" 
                                [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                                <option [ngValue]="-1">No lo sé</option>
                            </select>
                        </div>
                        <button (click)="addMVP(data.away)" style="margin-top: 4px;">Añadir</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="col-md-12" (click)="sendMatchInfo()">Enviar Informe</button>
    </div>
</div>
