<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Sancionados y lesionados</h4>
                </div>
                <div *ngIf="tableData1.dataRows.length !=0" class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Equipo</th>
                                <th>Jugador</th>
                                <th>Causa</th>
                                <th>Jornada</th>
                                <th>Contra</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData1.dataRows">
                                <td>{{getTeamById(row.teamFor).name}}</td>
                                <td>{{getPlayerById(row.player).name}}</td>
                                <td>{{row.cause}}</td>
                                <td>{{getRoundName(row.round)}}</td>
                                <td *ngIf="row.teamAgainst == 0">Por determinar</td>
                                <td *ngIf="row.teamAgainst != 0">{{getTeamById(row.teamAgainst).name}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div *ngIf="tableData1.dataRows.length == 0" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                    Sancionados no disponibles
                </div>
            </div>
        </div>
    </div>
</div>
