<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card" *ngIf="penaltiesTable">
                <div class="header">
                    <h4 class="title">Sancionados y Lesionados</h4>
                </div>
                <div *ngIf="penaltiesTable.dataRows.length !=0" class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Torneo</th>
                                <th>Equipo</th>
                                <th>Jugador</th>
                                <th>Causa</th>
                                <th>Jornada</th>
                                <th>Contra</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of penaltiesTable.dataRows">
                                <td>{{row.tournament.name}}</td>
                                <td>{{appService.getTeamById(row.teamFor).name}}</td>
                                <td>{{appService.getPlayerById(row.player).name}}</td>
                                <td>{{row.cause}}</td>
                                <td>{{appService.getRoundName({ tournament: row.tournament.id, round: row.round})}}</td>
                                <td *ngIf="row.teamAgainst == 0">Por determinar</td>
                                <td *ngIf="row.teamAgainst != 0">{{appService.getTeamById(row.teamAgainst).name}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div *ngIf="penaltiesTable.dataRows.length == 0" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                    Sancionados no disponibles
                </div>
            </div>
        </div>
    </div>
</div>
