<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-12" (click)="resetView();showModule.insertMatch = true">
            <div style="cursor: pointer" class="card">
                <div class="header text-center">
                    <p style="font-weight: bold" class="category">Insertar Partido<br/><br/></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12" (click)="resetView();showModule.recalculateStandings = true">
            <div style="cursor: pointer" class="card">
                <div class="header text-center">
                    <p style="font-weight: bold" class="category">Recalcular Clasificación<br/><br/></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12" (click)="resetAllSalaries()">
            <div style="cursor: pointer" class="card">
                <div class="header text-center">
                    <p style="font-weight: bold" class="category">Resetear Todos Los Salarios<br/><br/></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <section *ngIf="showModule.insertMatch">
            <div class="card">
                <div class="header">
                    <h4 class="title">Insertar Partido</h4>
                </div>
                <div class="content" style="min-height: 270px">
                    <span class="col-md-12 col-sm-12">Elegir Torneo</span>
                    <select class="col-md-12 col-sm-12" [(ngModel)]="insertMatch.tournament" (ngModelChange)="setNewMatchRound()">
                        <option *ngFor="let tournament of appService.data.tournaments" 
                            [ngValue]="tournament">{{tournament.name}} edición {{tournament.edition}}</option>
                    </select>
                    <div *ngIf="showNewRound" style="margin-top: 16px">
                        <span class="col-md-12 col-sm-12">Elegir Ronda</span>
                        <input type="number" min="1" max="{{setNewRound(insertMatch.tournament)}}" [(ngModel)]="insertMatch.round"/>
                        {{appService.getRoundName({tournament: insertMatch.tournament.id, round: insertMatch.round})}}
                    </div>
                    <span class="col-md-12 col-sm-12" style="margin-top: 16px">Elegir Local</span>
                    <select class="col-md-12 col-sm-12" [(ngModel)]="insertMatch.local">
                        <option *ngFor="let team1 of appService.data.teams" 
                            [ngValue]="team1">{{team1.name}}</option>
                    </select>
                    <span class="col-md-12 col-sm-12" style="margin-top: 16px">Elegir Visitante</span>
                    <select class="col-md-12 col-sm-12" [(ngModel)]="insertMatch.away">
                        <option *ngFor="let team2 of appService.data.teams" 
                            [ngValue]="team2">{{team2.name}}</option>
                    </select>
                    <button style="margin-top: 16px" class="col-md-12 col-sm-12" (click)="insertNewMatch()">Insertar</button>
                </div>
            </div>
        </section>
        <section *ngIf="showModule.recalculateStandings">
            <div class="card">
                <div class="header">
                    <h4 class="title">Recalcular Clasificación</h4>
                </div>
                <div class="content" style="min-height: 100px">
                    <select class="col-md-12 col-sm-12" [(ngModel)]="tournamentToReset">
                        <option *ngFor="let tournament of appService.data.tournaments" 
                            [ngValue]="tournament">{{tournament.name}}</option>
                    </select>
                    <button style="margin-top: 10px" class="col-md-12 col-sm-12" (click)="recalculateStandings()">Recalcular Clasificación</button>
                </div>
            </div>
        </section>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12" (click)="resetView();showModule.discountSalaries = true">
            <div style="cursor: pointer" class="card">
                <div class="header text-center">
                    <p style="font-weight: bold" class="category">Descontar Salarios<br/><br/></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12" (click)="resetView();showModule.createTournament = true">
            <div style="cursor: pointer" class="card">
                <div class="header text-center">
                    <p style="font-weight: bold" class="category">Crear Torneo<br/><br/></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12" (click)="resetView();showModule.suggestions = true">
            <div style="cursor: pointer" class="card">
                <div class="header text-center">
                    <p style="font-weight: bold" class="category">Ver Sugerencias<br/><br/></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <section class="col-md-12 col-sm-12" *ngIf="showModule.discountSalaries && teamSalaries">
            <div class="card">
                <div class="header">
                    <h4 class="title">Sueldos</h4>
                </div>
                <div *ngIf="teamSalaries.dataRows.length != 0" class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Equipo</th>
                                <th>Sueldos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of teamSalaries.dataRows">
                                <td style="text-align: center;">{{appService.getTeamById(row.team).name}}</td>
                                <td style="text-align: center;">{{row.salaries}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button style="margin-top: 10px" class="col-md-12 col-sm-12" (click)="discountSalaries()">Descontar Salarios</button>
                </div>
                <div *ngIf="teamSalaries.dataRows.length == 0" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                    No hay Salarios
                </div>
            </div>
        </section>
        <section class="col-md-12 col-sm-12" *ngIf="showModule.createTournament">
            <div class="card">
                <div class="header">
                    <h4 class="title">Crear Torneo</h4>
                </div>
                <div class="content" style="min-height: 100px">
                    <select class="col-md-12 col-sm-12" [(ngModel)]="tournamentToCreate">
                        <option *ngFor="let tournament of appService.config.roundSetter" 
                            [ngValue]="tournament.name">{{tournament.name}}</option>
                    </select>
                    <button style="margin-top: 16px" class="col-md-12 col-sm-12" (click)="createTournament()">Crear Nueva Edición</button>
                </div>
            </div>
        </section>
        <section class="col-md12 col-sm-12" *ngIf="showModule.suggestions">
            <div class="card">
                <div class="header">
                    <h4 class="title">Buzón de Sugerencias</h4>
                </div>
                <div *ngIf="appService.data.adminData.suggestions && suggestionsTable.dataRows.length != 0" class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Sugerencia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sug of suggestionsTable.dataRows">
                                <td *ngIf="sug.user != '0'">{{appService.getUserById(sug.user).name}}</td>
                                <td *ngIf="sug.user == '0'">Anónimo</td>
                                <td>{{sug.suggestion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="suggestionsTable.dataRows.length == 0" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                    No hay Sugerencias
                </div>
            </div>
        </section>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12" (click)="resetView();showModule.insertTeams = true">
            <div style="cursor: pointer" class="card">
                <div class="header text-center">
                    <p style="font-weight: bold" class="category">Realizar Sorteo<br/><br/></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12" (click)="resetView();showModule.showPendingMatches = true">
            <div style="cursor: pointer" class="card">
                <div class="header text-center">
                    <p style="font-weight: bold" class="category">Ver Partidos Pendientes<br/><br/></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12" (click)="resetView();showModule.noPlayed = true">
            <div style="cursor: pointer" class="card">
                <div class="header text-center">
                    <p style="font-weight: bold" class="category">Resolver Partido No Presentado<br/><br/></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <section class="col-md-12 col-sm-12" *ngIf="showModule.insertTeams">
            Nombre <input type="text" [(ngModel)]="insertPlayer.name">
            Posición <input type="text" [(ngModel)]="insertPlayer.position" maxlength="3">
            Media <input type="number" [(ngModel)]="insertPlayer.overage" min="40" max="99" step="1">
            <span class="col-md-12 col-sm-12">Equipo</span>
            <select class="col-md-12 col-sm-12" [(ngModel)]="insertPlayer.team">
                <option *ngFor="let team of appService.data.teams" 
                    [ngValue]="team">{{team.name}}</option>
            </select>
            <a style="cursor:pointer;" (click)="addPlayer()">Crear Jugador</a>
        </section>
        <section class="col-md-12 col-sm-12" *ngIf="showModule.showPendingMatches">
            <div class="card" *ngIf="adminMatchesTable">
                <div class="header">
                    <h4 class="title">Partidos pendientes - {{adminMatchesTable.dataRows.length}}</h4>
                </div>
                <div *ngIf="adminMatchesTable.dataRows.length !=0" class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Torneo</th>
                                <th>Ronda</th>
                                <th>Local</th>
                                <th></th>
                                <th>Visitante</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of adminMatchesTable.dataRows">
                                <td>{{appService.getTournamentById(row.tournament).name}}</td>
                                <td *ngIf="appService.config.roundRobinTournaments.indexOf(appService.getTournamentById(row.tournament).name) != -1">{{row.round}}</td>
                                <td *ngIf="appService.config.roundRobinTournaments.indexOf(appService.getTournamentById(row.tournament).name) == -1">{{appService.getRoundName(row)}}</td>
                                <td *ngIf="appService.getTournamentById(row.tournament).name != appService.config.tournamentGeneralInfo.nationsLeague.name">{{appService.getTeamById(row.local).name}}</td>
                                <td *ngIf="appService.getTournamentById(row.tournament).name == appService.config.tournamentGeneralInfo.nationsLeague.name">{{appService.getTeamById(row.local).nation}}</td>
                                <td>-</td>
                                <td *ngIf="appService.getTournamentById(row.tournament).name != appService.config.tournamentGeneralInfo.nationsLeague.name">{{appService.getTeamById(row.away).name}}</td>
                                <td *ngIf="appService.getTournamentById(row.tournament).name == appService.config.tournamentGeneralInfo.nationsLeague.name">{{appService.getTeamById(row.away).nation}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="adminMatchesTable.dataRows.length == 0" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                    No hay Partidos
                </div>
            </div>
        </section>
        <section class="col-md-12 col-sm-12" *ngIf="showModule.noPlayed">
            <div class="card">
                <div class="header">
                    <h4 class="title">Resolver No Presentados</h4>
                </div>
                <div class="content" style="min-height: 150px">
                    <select class="col-md-12 col-sm-12" [(ngModel)]="matchToResolve" (ngModelChange)="setMatchToResolve()">
                        <option *ngFor="let match of adminMatchesTable.dataRows" 
                            [ngValue]="match">{{appService.getTeamById(match.local).name}} - {{appService.getTeamById(match.away).name}} ({{appService.getTournamentById(match.tournament).name}})</option>
                    </select>
                    <div class="col-md-12 col-sm-12" style="margin-top: 16px" *ngIf="showMatchToResolve">
                        <span class="col-md-12 col-sm-12">{{appService.getTeamById(matchToResolve.local).name}}</span> - <span>{{appService.getTeamById(matchToResolve.away).name}}</span>
                        <button style="margin-top: 16px" class="col-md-4 col-sm-12" (click)="resolveMatchNonPlayed(1)">Local NP</button>
                        <button style="margin-top: 16px" class="col-md-4 col-sm-12" (click)="resolveMatchNonPlayed(2)">Ambos NP</button>
                        <button style="margin-top: 16px" class="col-md-4 col-sm-12" (click)="resolveMatchNonPlayed(3)">Visitante NP</button>
                    </div>
                </div>
            </div>
            
        </section>
    </div>
</div>