    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="card">
                        <div class="header">
                            <h4 class="title">Entrar</h4>
                        </div>
                        <div class="content">
                            
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Usuario</label>
                                            <input [disabled]="disableInputs" [(ngModel)]="user" type="text" class="form-control border-input">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Contraseña</label>
                                            <input [disabled]="disableInputs" [(ngModel)]="pass" type="password" class="form-control border-input">
                                        </div>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="text-center" style="cursor: pointer;">
                                        <span 
                                        style="font-weight: bold; padding: 8px;border: 2pt solid black; background-color: #ccc; border-radius: 5px;" 
                                        (click)="login()">Entrar</span>
                                    </div>
                                <div class="clearfix"></div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
