<div class="main-content">
    <div class="container-fluid" *ngIf="filters">
        <div class="row">
            <div>
                Torneo <select class="col-md-3 col-sm-12" [(ngModel)]="filters.tournament" style="margin:16px;">
                        <option *ngFor="let tournament of appService.config.roundSetter" 
                            [ngValue]="tournament.name">{{tournament.name}}</option>
                    </select>
                Temporada <select class="col-md-3 col-sm-12" [(ngModel)]="filters.edition" style="margin:16px;">
                        <option *ngFor="let edition of appService.getAllTournamentEditions()" 
                            [ngValue]="edition">{{edition}}</option>
                    </select>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let wonTournament of appService.getWonTournaments()" class="col-md-2 col-sm-12">
                <div class="card" *ngIf="(wonTournament.name == filters.tournament || filters.tournament == '') || (wonTournament.edition == filters.edition || filters.edition == '')">
                    <div class="header text-center">
                        <p style="font-weight: bold;color:black;font-size: 20px;" class="category">{{wonTournament.name}}<br/><br/></p>
                    </div>
                    <div class="content">
                        <img style="width: 100%;" src="{{appService.getTeamById(wonTournament.team).teamImage}}"/><br/>
                        <p style="text-align: center;font-weight: bold; margin-top:16px;">{{appService.getTeamById(wonTournament.team).name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>