<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" *ngIf="matches">
                <roundkeys config="matches[0]"></roundkeys>
            </div>
            <div class="col-md-6" *ngIf="matches">
                <roundkeys config="matches[1]"></roundkeys>
                <roundkeys config="matches[2]"></roundkeys>
            </div>
            <div *ngIf="!matches" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                Partidos no disponibles
            </div>
        </div>
        <div style="text-align: center;" *ngIf="champion">
            <h2>CAMPEÓN</h2>
            <img style="width:20%;" src="{{appService.getTeamById(champion).teamImage}}"/>
            <h3>{{appService.getTeamById(champion).name}}</h3>
        </div>
    </div>
</div>