  
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" *ngIf="matches">
                <h3>Semifinales</h3>
                <table style="margin-top: 60px;min-width:16.6%;min-height:14.65%;border-radius: 10%;background-color: #ccc5b9;" class="table table-hover">
                        <tbody>
                            <tr>
                                <td style="border-right: 1px solid #000;">{{appService.getTeamById(matches[0].local).name}}</td>
                                <td style="border-right: 1px solid #000;" *ngIf="matches[0].localGoals != -1">{{matches[0].localGoals}}</td>
                                <td *ngIf="matches[2].awayGoals != -1">{{matches[2].awayGoals}}</td>
                            </tr>
                            <tr>
                                <td style="border-right: 1px solid #000;">{{appService.getTeamById(matches[0].away).name}}</td>
                                <td style="border-right: 1px solid #000;" *ngIf="matches[0].awayGoals != -1">{{matches[0].awayGoals}}</td>
                                <td *ngIf="matches[2].localGoals != -1">{{matches[2].localGoals}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="margin-top: 60px;min-width:16.6%;min-height:14.65%;border-radius: 10%;background-color: #ccc5b9;" class="table table-hover">
                            <tbody>
                                <tr>
                                    <td style="border-right: 1px solid #000;">{{appService.getTeamById(matches[1].local).name}}</td>
                                    <td style="border-right: 1px solid #000;" *ngIf="matches[1].localGoals != -1">{{matches[1].localGoals}}</td>
                                    <td *ngIf="matches[3].awayGoals != -1">{{matches[3].awayGoals}}</td>
                                </tr>
                                <tr>
                                    <td style="border-right: 1px solid #000;">{{appService.getTeamById(matches[1].away).name}}</td>
                                    <td style="border-right: 1px solid #000;" *ngIf="matches[1].awayGoals != -1">{{matches[1].awayGoals}}</td>
                                    <td *ngIf="matches[3].localGoals != -1">{{matches[3].localGoals}}</td>
                                </tr>
                            </tbody>
                        </table>
            </div>
            <div class="col-md-6" *ngIf="matches">
                <h3>Final</h3>
                <table style="margin-top: 15px;min-width:16.6%;min-height:14.65%;border-radius: 10%;background-color: #ccc5b9;" class="table table-hover">
                        <tbody>
                            <tr>
                                <td style="border-right: 1px solid #000;">{{getTeamById(matches[4].local).name}}</td>
                                <td style="border-right: 1px solid #000;" *ngIf="matches[4].localGoals != -1">{{matches[4].localGoals}}</td>
                            </tr>
                            <tr>
                                <td style="border-right: 1px solid #000;">{{getTeamById(matches[4].away).name}}</td>
                                <td style="border-right: 1px solid #000;" *ngIf="matches[4].awayGoals != -1">{{matches[4].awayGoals}}</td>
                            </tr>
                        </tbody>
                    </table>
                <h3>Tercer y Cuarto Puesto</h3>
                <table style="margin-top: 15px;min-width:16.6%;min-height:14.65%;border-radius: 10%;background-color: #ccc5b9;" class="table table-hover">
                        <tbody>
                            <tr>
                                <td style="border-right: 1px solid #000;">{{getTeamById(matches[5].local).name}}</td>
                                <td style="border-right: 1px solid #000;" *ngIf="matches[5].localGoals != -1">{{matches[5].localGoals}}</td>
                            </tr>
                            <tr>
                                <td style="border-right: 1px solid #000;">{{getTeamById(matches[5].away).name}}</td>
                                <td style="border-right: 1px solid #000;" *ngIf="matches[5].awayGoals != -1">{{matches[5].awayGoals}}</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            <div *ngIf="!matches" class="content table-responsive table-full-width" style="text-align: center; color: #9a9a9a">
                Partidos no disponibles
            </div>
        </div>
        <div style="text-align: center;" *ngIf="champion">
            <h2>CAMPEÓN</h2>
            <img style="width:20%;" src="{{appService.getTeamById(champion).teamImage}}"/>
            <h3>{{appService.getTeamById(champion).name}}</h3>
        </div>
    </div>
</div>