    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="card card-user">
                    <div class="image">
                        <img src="assets/img/background.jpg"/>
                    </div>
                    <div class="content">
                        <div class="author">
                          <img class="avatar border-black" src="{{getTeamById(user.teamID).teamImage}}"/>   
                          <h4 class="title" *ngIf="user">{{user.name}}<br />
                            {{getTeamById(user.teamID).name}}<br/>
                            {{user.psnID}}<br/>
                            <a href="http://www.{{user.twitch}}" target="_blank"><i class="ti-sharethis"></i></a>
                          </h4>
                        </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-1">
                                <h5 *ngIf="playersOfMyTeam"> {{playersOfMyTeam.length}}<br /><small>Jugadores</small></h5>
                            </div>
                            <div class="col-md-4">
                                <h5 *ngIf="teams"> {{getTeamById(user.teamID).budget}}<br /><small>M€</small></h5>
                            </div>
                            <div class="col-md-3">
                                <h5><br /><small>Posición</small></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                        <div class="header">
                            <h4 class="title">Ajustes de perfil</h4>
                        </div>
                        <div class="content">
                            
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Cambiar contraseña</label>
                                            <input [(ngModel)]="pass" type="password" class="form-control border-input">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Confirmar contraseña</label>
                                            <input [(ngModel)]="pass2" type="password" class="form-control border-input">
                                        </div>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="text-center" style="cursor:pointer;">
                                            <span 
                                            style="font-weight: bold; padding: 8px;border: 2pt solid black; background-color: #ccc; border-radius: 5px;" 
                                            (click)="changePass()">Cambiar contraseña</span>
                                    </div>
                                <div class="clearfix"></div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="card" *ngIf="usersTable">
                    <div class="header">
                        <h4 class="title">Datos de usuarios</h4>
                    </div>
                    <div class="content">
                        
                        <div *ngIf="usersTable.dataRows.length !=0" class="content table-responsive table-full-width">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Equipo</th>
                                        <th>Nacion</th>
                                        <th>PSNID</th>
                                        <th>Twitch</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of usersTable.dataRows">
                                        <td>{{row.name}}</td>
                                        <td>{{getTeamById(row.teamID).name}}</td>
                                        <td>{{getTeamById(row.teamID).nation}}</td>
                                        <td>{{row.psnID}}</td>
                                        <td *ngIf="row.twitch"><a href="http://www.{{row.twitch}}" target="_blank"><i class="ti-sharethis"></i></a></td>
                                        <td *ngIf="!row.twitch">N/D</td>
                                    </tr>
                                </tbody>
                            </table>
        
                        </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-12 col-md-12">
                
                    <div class="card" *ngIf="offersTable">
                            <div class="header">
                                <h4 class="title">Ofertas de Acuerdos</h4>
                            </div>
                            <div class="content">
                                
                                <div *ngIf="offersTable.dataRows.length !=0" class="content table-responsive table-full-width">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Tipo</th>
                                                <th>Jugador</th>
                                                <th>Equipo</th>
                                                <th>Oferta</th>
                                                <th>Jugadores</th>
                                                <th>Qué hacer</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let row of offersTable.dataRows">
                                                <td>{{getType(row.signinType)}}</td>
                                                <td>{{getPlayerById(row.player).name}}</td>
                                                <td>{{getTeamById(row.buyerTeam).name}}</td>
                                                <td>{{row.amount}}</td>
                                                <td *ngIf="row.playersOffered.length != 0">
                                                    <div *ngFor="let plOf of row.playersOffered">
                                                        <span *ngIf="$index != row.playersOffered.length - 1">{{getPlayerById(plOf.player).name}}, </span>
                                                        <span *ngIf="$index == row.playersOffered.length - 1">{{getPlayerById(plOf.player).name}}</span>
                                                    </div>
                                                </td>
                                                <td *ngIf="row.playersOffered.length == 0">NO</td>
                                                <td>
                                                    <a style="cursor:pointer;" (click)="resolveOffer(row, true)">Aceptar</a> - 
                                                    <a style="cursor:pointer;" (click)="resolveOffer(row, false)">Rechazar</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                            </div>
            <div *ngIf="playersOfMyTeam" class="card">
                <div class="header">
                    <h4 *ngIf="players" class="title">Mi plantilla - {{playersOfMyTeam.length}} jugadores</h4>
                    <!--<span 
                        style="float:right;font-weight: bold; padding: 8px;border: 2pt solid black; background-color: #ccc; border-radius: 5px;" 
                        (click)="player.salaryMode = true">Cambiar Salarios</span>-->
                </div>
                <div class="content">
                    <ul class="list-unstyled team-members">
                                <li *ngFor="let player of playersOfMyTeam">
                                    <div class="row" *ngIf="player.emblem == '0'">
                                        <div class="col-xs-4">
                                            {{player.name}}
                                            <br />
                                            <span><small>{{player.position}}</small></span>
                                        </div>
                                        <div class="col-xs-1">
                                            {{player.overage}}
                                        </div>
                                        <div class="col-xs-2" *ngIf="!player.salaryMode && player.salary != 10 && player.cedido == 0">
                                            {{player.salary}}M€ <a *ngIf="user.teamID == 16" style="cursor:pointer;" (click)="player.salaryMode = true">Cambiar</a>
                                        </div>
                                        <div class="col-xs-2" *ngIf="!player.salaryMode && player.salary == 10 && player.cedido == 0">
                                            INTOCABLE <a *ngIf="user.teamID == 16" style="cursor:pointer;" (click)="player.salaryMode = true">Cambiar</a>
                                        </div>
                                        <div class="col-xs-2 text-right" *ngIf="player.buyedThisMarket == 0 && player.cedido == 0 && !player.salaryMode">
                                            <a style="cursor:pointer;" (click)="giveWildCard(player.id)">Liberar</a> - <a *ngIf="user.teamID == 16" style="cursor:pointer;" (click)="setEmblem(player.id)">Emblema</a>
                                        </div>
                                        <div class="col-xs-2 text-right" *ngIf="player.buyedThisMarket == 1 && player.cedido == 0 && !player.salaryMode">
                                            ALTA
                                        </div>
                                        <div class="col-xs-2 text-right" *ngIf="player.cedido != 0 && !player.salaryMode">
                                            CEDIDO
                                        </div>
                                        <div class="col-xs-3 text-right" *ngIf="player.salaryMode">
                                            Cláusula <input type="number" [(ngModel)]="player.newSalary" step="1" min="1" max="100"> <a style="cursor:pointer;" (click)="setSalary(player)">Grabar</a>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="player.emblem == '1'" style="background-color:rgb(255, 212, 160);">
                                        <div class="col-xs-4">
                                            {{player.name}}
                                            <br />
                                            <span><small>{{player.position}}</small></span>
                                        </div>
                                        <div class="col-xs-1">
                                            {{player.overage}}
                                        </div>
                                        <div class="col-xs-2" *ngIf="!player.salaryMode && player.salary != 10 && player.cedido == 0">
                                            {{player.salary}}M€ <a *ngIf="user.teamID == 16" style="cursor:pointer;" (click)="player.salaryMode = true">Cambiar</a> 
                                        </div>
                                        <div class="col-xs-2" *ngIf="!player.salaryMode && player.salary == 10 && player.cedido == 0">
                                            INTOCABLE <a *ngIf="user.teamID == 16" style="cursor:pointer;" (click)="player.salaryMode = true">Cambiar</a>
                                        </div>
                                        <div class="col-xs-2 text-right" *ngIf="player.buyedThisMarket == 0 && player.cedido == 0 && !player.salaryMode">
                                            <a style="cursor:pointer;" (click)="giveWildCard(player.id)">Liberar</a>
                                        </div>
                                        <div class="col-xs-2 text-right" *ngIf="player.buyedThisMarket == 1 && player.cedido == 0 && !player.salaryMode">
                                            ALTA
                                        </div>
                                        <div class="col-xs-2 text-right" *ngIf="player.cedido != 0 && !player.salaryMode">
                                            CEDIDO
                                        </div>
                                        <div class="col-xs-3 text-right" *ngIf="player.salaryMode">
                                            Cláusula <input type="number" [(ngModel)]="player.newSalary" step="1" min="1" max="100"> <a style="cursor:pointer;" (click)="setSalary(player)">Grabar</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        <span *ngIf="totalSalaries" style="margin-left: 1%;">Total Sueldos: {{totalSalaries}}M€ (Límite 100M€)</span>
                </div>
            </div>
            </div>
        </div>
    </div>
