<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="padding: 16px;" *ngIf="offer">
                <h1>Oferta por {{player.name}}</h1>
                <select [(ngModel)]="offer.signinType">
                    <option [ngValue]="G">Compra</option>
                    <option [ngValue]="C">Cesión</option>
                </select>
                <br/><br/>
                <span>Importe</span> <input type="number" step="1" min="0" [(ngModel)]="offer.amount">
                <div>
                    <br/><br/>
                    <span style="display:block;">Jugadores</span>
                    <div>
                        <ul class="heroes">
                            <li style="list-style: none;" *ngFor="let pcsAdded of offer.players">{{getPlayerById(pcsAdded.player).name}} <i class="ti-close" (click)="removePCS($index)"></i></li>
                        </ul>
                        <select *ngIf="playersOfMyTeam" [(ngModel)]="pcsToAdd">
                            <option *ngFor="let teamPlayer of playersOfMyTeam" 
                            [ngValue]="teamPlayer.id">{{teamPlayer.name}}</option>
                        </select>
                    </div>
                    <button (click)="addPCS()" style="margin-top: 4px;">Añadir</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="col-md-12" (click)="sendOffer()">Enviar Oferta</button>
    </div>
</div>
